.header {
    background-color: #c2ffc6;
    min-height: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}

.user-greet {
    font-size: 35px;
    align-self: flex-end;
}

.Dashboard {
    font-family: 'Karla', sans-serif;
}